<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit address</title>
    <link rel="stylesheet" href="/css/templatemo.css" />
    <link rel="stylesheet" href="/css/formAddress.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container d-flex justify-content-center mt-5">
        <form id="formControl">
            <div class="col-lg-9 col-sm-12">
                <h2 class="heading ms-5">Add Banner</h2>
                <div class="form mt-4">
                    <label for="name" class="fw-bold fs-6">Heading (banner tag)</label>
                    <input type="text" name="name" id="heading" required />
                </div>
                <div class="form mt-4">
                    <label for="exampleFormControlTextarea1" class="form-label fw-bold fs-6">Description (about
                        product)</label>
                    <textarea class="form-control" id="Description" rows="6" required></textarea>
                </div>
                <div class="form mt-2">
                    <label for="CouponCode" class="fw-bold fs-6">CouponCode</label>
                    <input type="text" name="CouponCode" id="CouponCode" placeholder="(Optional)" />
                </div>
                <div class="form mt-2">
                    <label for="formFile" class="fw-bold fs-6">Upload cover image</label>
                    <input class="form-control" type="file" id="coverImage" />
                </div>
                <div class="mt-4 d-flex">
                    <div>
                        <button type="button" class="btn btn-primary" id="button" onclick="saveBanner()">Save
                            changes</button>
                    </div>
                </div>
                <p class="mt-2 text-danger" id="showErr"></p>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        async function saveBanner() {
            const heading = document.getElementById('heading').value
            const description = document.getElementById('Description').value
            const couponCode = document.getElementById('CouponCode').value
            const coverImage = document.getElementById('coverImage').files[0]
            const showErr = document.getElementById('showErr')


            let image
            if (coverImage && heading && description) {
                const fileExtension = coverImage.name.split('.').pop().toLowerCase();
                const validExtensions = ['jpg', 'jpeg', 'png', 'gif'];
                if (!validExtensions.includes(fileExtension)) {
                    Swal.fire(
                        'Format Error',
                        'The Image format is not supported',
                        'question'
                    )
                    document.getElementById('coverImage').value = '';
                }
                else {
                    image = await convertBase64(coverImage)
                }

                const button = document.getElementById('button')
                button.disabled = true

                axios
                    .post('/admin/postAddBanner', {
                        bannerHeading: heading,
                        Description: description,
                        couponCode: couponCode,
                        Image: image
                    })
                    .then(({ data }) => {
                        if (data == true) {
                            window.location.href = '/admin/banner'
                        }
                    }).catch((err) => {
                        console.log(err);
                    });
            }
            else {
                showErr.innerText = "verify once more"
                setTimeout(() => {
                    showErr.innerText = ""
                }, 3000);
            }
        }

        function convertBase64(file) {
            return new Promise((resolve, reject) => {
                const fileReader = new FileReader();
                fileReader.readAsDataURL(file);
                fileReader.onload = () => {
                    resolve(fileReader.result);
                };
                fileReader.onerror = (error) => {
                    reject(error);
                };
            });
        }
    </script>
</body>

</html>